// button in header caruosel

.buttonHover {
	border: 0.1rem solid white;
	margin-top: 7rem;
    margin-left: 40rem;
    margin-right: 40rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    &:hover {
    	color: black;
    	background: white;
    }
}

// button underblog

.buttonHoverBlog {
	border: 0.3rem solid #c4c4c4;
    font-size: 2rem;
    font-weight: bold;
    margin: 0rem 58rem 0rem 62rem;
    padding: 1rem 1rem 1rem 1.5rem;

    &:hover {
    	color: white;
    	background: #c4c4c4;
    }
}
