// button in header caruosel

.buttonHover {
	border: 0.1rem solid white;
	margin: 10rem 40rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    &:hover {
    	color: black;
    	background: white;
    }
}

// button underblog

.buttonHoverBlog {
	border: 0.3rem solid #c4c4c4;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 4rem ;
    height: 6rem;
    width: 21rem;
    position: relative;
    top: 3rem;

    &:hover {
    	color: white;
    	background: #c4c4c4;
    }
}
