// --------------
// nav position
// -------------
.navigationMenu {
	background-color: white;
	margin-bottom: -5rem;
    z-index: 2;
}

.navigationMenuUp {
	padding-left: 41rem;
	margin-top: 0rem;
	margin-bottom: 2rem;
	color: white;
	background: black;
	height: 4rem;
    padding-top: 1rem;
}

.navigationMenuUp > ul > p {
	color: #7e7e7e;
    margin-right: 13rem;
	z-index: 1;
}

.navigationMenuUp > ul > p > li {
	margin-left: 25rem;
	color: white;
	z-index: 1;
}

.navigationMenuUp > ul > li {
	margin-left: 0rem;
	color: white;
	z-index: 1;
}

.navigationMenuDown {
	margin-left: 38rem;
    font-size: 1.5rem;
    margin-top: -2rem;
    margin-bottom: -1rem;

}

.navigationMenuDown > ul > li {
	border: 0.005rem solid grey;
    margin-top: 0rem;
    margin-bottom: -1.3rem;
    padding: 2rem 3rem 2rem 2.5rem;
    z-index: 4;
}

// carousel indicators and other

.carousel-indicators .indicators {
	margin-bottom: 4rem;
 	border-radius: 100rem;
    width: 0.5rem;
    height: 0.5rem;
}

.pumaLogo {
	height: 4rem;
	margin-top: -126rem;
}

.lineBackground {
	margin-top: -60rem;
	color: #ff6600;
}

// Blog style

.positionBlog {
	margin-top: 10rem;
	background: #f4f4f4;
}

.textAndImgSmall {
	margin-left: 8rem;
}

// cube

.cube {
	margin-bottom: -5.5rem;
    margin-left: 66rem;
    width: 15rem;
    z-index: 2;

    &:hover {
    	margin-bottom: -5.5rem;
   		margin-left: 66rem;
    	width: 15rem;
    	color: white;
    	
    }
}

// triangle style and position

.triangleRight {
    margin-left: 30rem;
    margin-top: -8rem;
}

.triangleLeft {
    margin-left: -23.5rem;
    margin-top: -13rem;
}

// footer helpers

.footerIconStyle {
	display: flex;
}

.iconStyle {
	display: inline-block;
	width: 3.5rem;
	border: 1px solid black;
	margin: 0rem 1rem 1rem 1rem;

	&:hover {
		display: inline-block;
		border: 0.1rem solid white;
		margin: 0rem 1rem 0rem 1rem;
		border-radius: 5rem;
    	width: 3.5rem;
    	height: 3.5rem;
	}
}